.gallery {
  padding-top: 30px;
  margin-bottom: 30px;
  .date {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    .day {
      font-size: 23px;
      font-weight: 600;
      margin-right: 5px;
      color: var(--diary-font-title);
    }
    .year {
      font-size: 13px;
      color: var(--diary-font-time);
    }
  }
  .img-box {
    width: 100%;
    margin-bottom: 10px;
    .img {
      width: 106px;
      height: 106px;
      overflow: hidden;
      border-radius: 8px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
