.diary {
  .add-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2;
    color: var(--diary-opposite-color);
    font-size: 20px;
  }
}
.diary-date {
  .el-input {
    width: 120px;
    .el-input__wrapper {
      background-color: transparent;
      box-shadow: none;
      .el-input__inner {
        text-align: center;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
.cell {
  height: 30px;
  padding: 3px 0;
  box-sizing: border-box;
}
.cell .text {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  line-height: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.cell.current .text {
  background: var(--el-color-primary);
  color: #fff;
}
.cell .holiday {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--el-color-primary);
  border-radius: 50%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
